:root {
    --font-sans: 'Comfortaa', -apple-system, system-ui, sans-serif;
    --color-text: #222;
    --color-background: #fff;
    --color-primary: #d23669;
}

body {
    font-family: var(--font-sans);
    color: var(--color-text);
    background-color: var(--color-background);
    margin: 100px auto;
    width: 500px;
}
h1 {
    color: var(--color-primary);
}
